.question-tilte{
    color: #fff;
}

.question {
    margin:12px 0 24px;
    padding: 0 42px;
    text-align: center;
    color: #fff;
}

.item {
    padding: 8px;
    border: 2px solid #fff;
    width: calc(100% - 128px);
    border-radius: 16px;
    margin: 8px 0;
    cursor: pointer;
    background-color: #26294b;
}

.active {
    border-color: #d01624;
    color: #d01624;
}

.answer {
    color: #fff;
}

.message-warning {
    color: #d01624;
}

.message-success {
    color: #64b450;
    text-align: center;
    padding: 0 24px;
}

.btn-next {
    width: calc(100% - 256px);
    padding: 10px 0;
    color: #fff;
    background-color: #d01624;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 12px;
}

.btn-close {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 36px;
    top: 16px;
    right: 16px;
    background-color: #26294b;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media(max-width:739px) {
    .question {
        padding: 0 32px;
    }
}